<!--
  Title: about.component.html
  Author: George Taylor
  Date: 6.24.2024
  Description: The about component-->



<div fxLayout="row wrap">

  <div fxFlex>

      <div fxLayout="column">

          <div>

              <img src="../../assets/about-seren.jpg" />
          </div>


          </div>
      </div>
  </div>

    <div fxFlex>
        <h1 class=""> Who we are...Nodebucket</h1>

        <p class="gold">
            Nodebucket is a company that partners with small and medium-sized businesses. We are experts in creating
            wonderful websites with your vision in mind.  We offer many solutions in the digital space to all our clients.
            Our global portfolio consist of many different companies that range in different specialties. Assisting entrepreneurs
            in the first steps, business owners desiring to upscale, to established companies requesting additional improvements.
        </p>

</div>




<br />
<div fxLayout="row wrap">

  <div fxFlex>

      <div fxLayout="column">

          <div>

              <img src="../../assets/about-mobile.jpg" />
          </div>

      </div>
  </div>

    <div fxFlex>
        <h1 class=""> Our History</h1>

        <p class="gold">
            Nodebucket was established in 2000. The purpose to make information easy for everyone to view and
            understand. The commitment is to create reliable and secure products. That can be financially obtainable
            to all. We manage in more than 6 countries, with expansion into 4 more countries by the end of 2024.
    </div>

</div>
<div fxLayout="row wrap">

  <div fxFlex>

      <div fxLayout="column">

          <div>

              <img src="../../assets/about-lili.jpg" />
          </div>


      </div>
  </div>

    <div fxFlex>
        <h1 class=""> The path of Nodebucket</h1>

        <p class="">
            Proud of the legacy being built, Nodebucket will always deliver the best website possible. We are
            dedicated to your innovated ideas.

    </div>

