<div class="tasks-container">

  <h1>My Tasks</h1>
<!--tasks form-->
<!---->
  <form #taskForm="ngForm" (ngSubmit)="createTask(taskForm); taskForm.reset();"class="task-form">
    <input type="text" name="task" ngModel required placeholder="Enter a new task">
    <input type="submit"[disabled]="!taskForm.valid" value="Add Task">
  </form>

<!--tasks container-->
  <div class="tasks-columns">
<!--task todo column-->
<div class="col-sm-5 col-md-4 col-lg-3">
  <h4 class="text-center">ToDo</h4>
  <div class="p-3 border bg-light">

    <div class="container task-column"
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="todo"
    [cdkDropListConnectedTo]="[doneList]"
    (cdkDropListDropped)="drop($event)

    <div *ngIf="!todo || todo.length === 0">
      <div class="alert alert-info">
        No tasks to do yet!
      </div>
    </div>

    <div *ngFor="let item of todo" cdkDrag class="mt-2">

      <div class="row border bg-white">
        <div class="col-sm-6">
          <div class="card-body">
            {{ item.text }}
          </div>
        </div>

        <div class="col-sm-6">
          <div class="card-body float-end">
            <button (click) ="deleteTask(item._id)" class="btn">
              <span class="material-icons">delete</span>
            </button>
          </div>
        </div>

        <div class="col-12 d-sm-none d-md-none d-lg-none d-xl-none d-grid gap-2 p-2">
          <button (click)="deleteTask(item._id)" class="btn btn-secondary">Delete</button>
        </div>
      </div>
    </div>
  </div>
 </div>
</div>
<!--end todo column-->

<!--tasks done -->
<!--tasks-column controls column width-->
  <div class="tasks-column">
    <h2>Done</h2>

    <div class="task-box">

      <div * ngIf="done.length === 0 || !done" class="no-task">
        No task done yet!


      <div *ngFor="let item of done" class="task-card">
        {{ item.text }}
      </div>
    </div>
    </div>
 </div>
</div>