<div class="tasks-container">

  <h1>My Tasks</h1>
<!--tasks form-->
<!---->
  <form class="task-form">
    <input type="text" required placeholder="Enter a new task">
    <input type="submit" value="Add Task">
  </form>

<!--tasks container-->
  <div class="tasks-columns">
<!--task todo column-->

    <div class="tasks-column">
      <h2>To Do</h2>

      <div class="task-box">

      </div>
    </div>

<!--tasks done -->
<!--tasks-column controls column width-->
  <div class="tasks-column">
    <h2>Done</h2>

    <div class="task-box">

    </div>
    </div>
  </div>
</div>